.homeContainer{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}

.sideBarContainer{
 width: 20%;
 min-height: 98vh;
 margin: 5px;
 border-radius: 10px;
 border: 2px solid gray;
 margin-left: 10px;
 font-family: Arial, Helvetica, sans-serif;
 color: white;
 
}

.taskMainContainer{
    width: 80%;
    min-height: 98vh;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid gray;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
    
}